* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3C3A39;
  padding: 20px 40px;
  color: white;
}

.logo h3 a{
  text-decoration: none;
  color: white;
}

.nav-icon {
  display: block;
  cursor: pointer;
}

.navlinks ul {
  display: flex;
  list-style: none;
}

.navlinks li {
  margin: 0 10px;
}

.navlinks a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.navlinks {
  display: none;
}

@media screen and (min-width: 769px) {
  nav {
    padding: 20px 100px;
  }
  .nav-icon {
    display: none;
  }
  
  .navlinks {
    display: block;
  }

  .navlinks li {
    padding: 0 20px;
  }
}
